/build
/install
/src/gr-AtvTools/docs/doxygen/doxyxml/__pycache__
/src/gr-AtvTools/docs/doxygen/doxyxml/generated
/src/grc-atv-tools/docs/doxygen/doxyxml/generated
/src/grc-atv-tools/docs/doxygen/doxyxml/generated
/src/grc-atv-tools/docs/doxygen/doxyxml/generated/__pycache__
/src/grc-atv-tools/docs/doxygen/doxyxml/__pycache__

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
